@tailwind base;
@tailwind components;
@tailwind utilities;

/* create a landing page to controll the portal modal */
body {
  @apply h-screen w-screen overflow-hidden;
}
main {
  @apply h-full w-full overflow-auto;
}

/* don't forget to add the color to the config file */
:root {
  /* colors */
  --positive: #119f5b;
  --transparent: transparent;
  --white: white;
  --white-15: #ffffff26;
  --black: black;
  --black-10: #e6e6e6;
  --black-50: #7f7f7f;
  --black-80: #333333;
  --black-transparent: #7f7f7f63;

  /* gradient colors */
  --gradient-primary: linear-gradient(90.37deg, #294393 0.32%, #04a4e6 102.21%);
  --gradient-primary-light: linear-gradient(
    90.37deg,
    rgba(41, 67, 147, 0.1) 0.32%,
    rgba(4, 164, 230, 0.1) 102.21%
  );

  --gradient-secondary: linear-gradient(180deg, #fb8e48 0%, #cb380f 100%);
  --gradient-secondary-light: linear-gradient(
    180deg,
    rgba(251, 142, 72, 0.1) 0%,
    rgba(203, 56, 15, 0.1) 100%
  );

  --gradient-positive: linear-gradient(
    90.14deg,
    rgba(14, 148, 122, 0.1) 8.46%,
    rgba(13, 164, 135, 0.1) 62.97%
  );
}
/* 
@media (prefers-color-scheme: dark) {
  :root {
    --positive: red;
  }
} */

/* components */
@layer components {
  .text-gradient-primary {
    @apply bg-gradient-primary bg-clip-text text-transparent;
  }
  .text-gradient-secondary {
    @apply bg-gradient-secondary bg-clip-text text-transparent;
  }
}

/* <== (slider, thumb, and track-1) this are className take for the price range slider component ==> */
.slider .thumb {
  width: 15px;
  height: 15px;
  /* cursor: grab; */
  background-color: #fff;
  border: 4px solid #294393;
  border-radius: 50%;
  top: -4px;
}
.track-1 {
  background-color: #275efe;
}

/*bottom navigation clipPath */
.active-bottom-nav {
  @apply bg-gradient-primary rounded-full mb-6 outline-white outline outline-8 relative text-white;
}
.active-bottom-nav::after,
.active-bottom-nav::before {
  content: "";
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  background: white;
}
.active-bottom-nav::after {
  top: -30px;
  right: -30px;
  clip-path: polygon(51% 50%, 74% 59%, 98% 68%, 61% 68%, 50% 62%, 28% 40%);
}
.active-bottom-nav::before {
  top: -25px;
  left: -40px;
  rotate: 315deg;
  clip-path: polygon(51% 50%, 74% 59%, 98% 68%, 61% 68%, 50% 62%, 28% 40%);
}

/* scroll bar */
.scrollbar-x-remove::-webkit-scrollbar:horizontal {
  @apply hidden;
}
.scrollbar-y-remove::-webkit-scrollbar:vertical {
  @apply hidden;
}

::-webkit-scrollbar {
  @apply w-1;
}

::-webkit-scrollbar-track {
  @apply bg-gradient-primary-light;
}

::-webkit-scrollbar-thumb {
  @apply bg-gradient-primary;
}
